*{
    margin:0 auto;
    padding:0;
}
ul,ol,li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
.banner2{
    margin-top: 110px;
    width:1348px;
}
.project{
    width:1348px;
    margin-top: 50px;
    overflow: hidden;
}
.project .project-nav{
    width:202px;
    margin-left: 190px;
    border: 1px solid #DA251C;
    float:left
}
.project .project-nav .project-header{
    height:75px;
    color:#fff;
}
.project .project-nav .project-header img{
    width:202px;
    float:left;
    border-bottom: 1px solid #fff;
}
/*.project .project-nav .project-header img{
    width:40px;
    height:40px;
    margin:10px 5px 0px 10px;
    float:left;
}
.project .project-nav .project-header span{
    display: block;
    float: left;
    margin-top: 12px;
    margin-left: 5px;
    font-size: 24px;
    text-shadow:5px 2px 6px #000;
}*/
.project .project-nav ul{
    width:200px;
    height:240px;
    font-size: 16px;
    text-align: center;
    color:rgb(102,102,102);
    background: rgb(236,236,236);
}
.project .project-nav ul li{
    line-height: 48px;
    transition: padding-right 0.2s;
    color:#000;
}
.project .project-nav ul .project-li a{
    color:#444;
}
.project .project-nav ul .project-li-not:hover{
    font-weight: bold;
    cursor: pointer;
    padding-right: 20px;
    background: url("../images/arrow2.png") no-repeat 140px center #DA251C;
}
.project-li-active{
    background: url("../images/arrow.png") no-repeat 140px 16px ;
}
.project-li-active a{
    font-weight: 900;
    font-size: larger;
    color:#DA251C !important;
}
#map{
    height:300px;
    width:650px;
    float:left;
    margin-left: 100px;
    border:1px solid #bcbcbc;
}
.project-content,.case-content{
    width:650px;
    float:left;
    margin-left: 100px;
    overflow: hidden;
}
.contact-content{
    margin-top: 20px;
}
.project-content div img,.case-content div img{
    width:650px;
    height:130px;
}
.project-content ul li{
    line-height: 35px;
    border-bottom: 1px dashed #000;
    padding-left: 30px;
    background: url("../images/title.png") no-repeat left center;
}
.case-content ul li{
    line-height: 35px;
    background: url("../images/case.png") no-repeat right center;
}
.project-content ul li a,.case-content ul li a{
    color:#444;
}
.project-content ul li a:hover{
    color:#DA251C;
    text-decoration: underline;
}
.case-content ul li:hover{
    background-image: url("../images/case2.png");
}
.case-content ul li a:hover{
    color:#DA251C;
    font-weight: bold;
}
.contact-content div img{
    margin-bottom: 10px;
}
.contact-content .contact-content1{
    font-size: 22px;
    font-weight: bold;
    padding-left: 50px;

}
.contact-content .contact-content-address{
    background: url("../images/address.png") no-repeat left center;
}
.contact-content .contact-content-phone{
    background: url("../images/phone.png") no-repeat left center;
}

.signin{
    width:800px;
    margin-top: -20px;
}
.signin .signin-img{
    width:700px;
}
.signin .signin-img img{
    width:700px;
}
.signin .signin-content form{
    width:400px;
    height:200px;
    margin-top: 20px;
}
.signin .signin-content form .sign-1,.signin .signin-content form .sign-2{
    height:70px;
    vertical-align: middle;
}
.signin .signin-content form span{
    float:left;
    width:98px;
    line-height:28px;
    font-size: 18px;
}
.sign-1 input,.sign-2 input{
    width:298px;
    height:28px;
    float: right;
}
.sign-1 input:focus,.sign-2 input:focus{
    outline: none;
    box-shadow: 0 0 8px rgba(103, 166, 217,1);
}
/**, *:after, *:before {*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/
.submit-btn{
    width:80px;
    background: #d09120;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    transition: all 0.2s;
    overflow: hidden;
}
.submit-btn1{
    color: #fff;
    margin-left: 100px;
}
.submit-btn2{
    background: none;
    color: #f30;
    margin-left: 60px;
}
.submit-btn:after{
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.2s;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #da251c;/*幕布颜色*/
    color:#f33;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.submit-btn:hover{
    color: #fff;
    font-weight: bolder;
    background: none;
}
.submit-btn:hover:after{
    height: 190%;
    opacity: 0.9;/*这个是下拉动作*/
}
.news-head h3,.news-head h6{
   line-height: 50px;
    text-align: center;
}
.news-head h6{
    color:#888;
}
.news-middle{
    color:#444;
    margin-bottom: 30px;
}
.news-bottom{
    float:right;
}