/***********************************************************************************
 * 文件：conmmon.css（综合下载）
 * 作者：fangjj		 2017.9.6
 * 功能：统一样式表（即共有的css样式）
 * *********************************************************************************/

a{
    color: #666;
}
a:hover{
    background: transparent !important;
}
a:focus{
    background: transparent !important;
}