*{
    margin:0 auto;
    padding:0;
    font-family: Microsoft YaHei
}
ul,ol,li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    width:100%;
    height:110px;
    position:fixed;
    top:0;
    left:0;
    background: #fff;
    z-index: 9999;
}
.header-content{
    width:1120px;
    position: relative;
}
.header-welcome{
    width:40px;
    height:60px;
    background: #da251c;
    position: absolute;
    top:-42px;
    left:1110px;
    border-radius: 5px;
    transition: top 0.3s;
    font-size: 15px;
    opacity: 0.7;
}
.header-welcome img{
    width:20px;
    height:20px;
    margin-bottom: 5px;
}
.header-welcome:hover{
    top:-20px;
    opacity: 1;
}
.header-welcome:hover div a{
    color:#fff;
}
.header-welcome div{
    padding-top: 12px;
    text-align: center;
}
.header-welcome a{
    color:#ddd;
}
.header .header-menu{
    margin-top: 10px;
}
.header .logo{
    float:left;
}
.header .menu{
    float:right;
    height:50px;
    font-size: 20px;
    margin-top: 40px;
}
.menu li{
    float:left;
    margin-left: 30px;
    padding: 0 10px;
    padding-bottom: 10px;
}
.menu li a{
    color:#000;
}
.menu .menu_active,.menu li:hover{
    cursor: pointer;
    border-bottom: 4px solid #DA251C;
}
.menu .menu_active a{
    color:#DA251C;
}
.menu li a:hover{
    color:#DA251C;
}
.header .header-bg{
    height:8px;
    width:100%;
    position: absolute;
    left:0;
    top:110px;
    background: url("../images/header-bg.png") repeat-x left top;
}
.banner{
    overflow:hidden;
    position:relative;
    border:0;
    margin-top: 110px;
    width:1349px;
}

.banner .hd{
    position:absolute;
    left:550px;
    top:250px;
    height:30px;
    width:200px;
    padding:0 10px;
    z-index: 999;
}
.banner .hd .next,.banner .hd .prev{
    display:block;
    cursor:pointer;
    margin-top:10px;
}

.banner .hd .prev{
    position:absolute;
    left:-555px;
    top:-150px;
    width:47px; height:80px;
    background:url("../images/bg_direction_nav.png") 0 0 no-repeat;
}

.banner .hd .next{
    position:absolute;
    top:-150px;
    left:750px;
    width:47px; height:80px;
    background:url("../images/bg_direction_nav.png") -45px 0 no-repeat;}

.banner .hd .nextStop{
    background-position:-60px -50px;
}
.banner .hd ul{
    float:right;
    overflow:hidden;
    zoom:1;
}
.banner .hd ul li{
    float:left;
    width:28px;
    height:19px;
    overflow:hidden;
    margin-right:10px;
    text-indent:-999px;
    cursor:pointer;
    background:url("../images/bannerli.png") 0 0 no-repeat;
}

.banner .hd ul li.on{
    background:url("../images/bannerli2.png") 0 0 no-repeat;
}

.banner .bd{
    padding:0;
}
.banner .bd ul{
    overflow:hidden;
    zoom:1;
}
.banner .bd ul li{
    margin:0;
    float:left;
    _display:inline;
    overflow:hidden;
    text-align:center;
}
.banner .bd ul li .pic{
    text-align:center;
}
.banner .bd ul li .pic img{
    margin-left:-300px;
    width:1920px;
    height:300px;
    display:block;
    padding:0;
    border:1px solid #ccc;
}
.banner .bd ul li .pic a:hover img{
    border-color:#999;
}
.banner .bd ul li .title{
    line-height:24px;
}
.about-img1,.about-img2{
    margin: 20px auto;
    width:1345px;
}
.about-img1{
    background: url("../images/about-img1.png") no-repeat;
    height:61px;
}
.about-img1 span{
    display: block;
    float:left;
    line-height: 61px;
    letter-spacing:16px;
    font-size: 23px;
}
.about-img1 .about-img1-1{
    margin-left: 190px;
}
.about-img1 .about-img1-2{
    color:#fff;
}
.about-img2 img{
    margin-top: -50px!important;
}
.about{
    width:1348px;
    height:200px;
}
.about-left{
    width:600px;
    float:left;
    line-height: 35px;
    margin-left: 190px;
}
.about-left p{
    text-indent: 2em;
}
.about-right{
    width:300px;
    height:200px;
    float:right;
    margin-right: 190px;
    background: url("../images/about-contact.png") left top no-repeat;
    padding-top: 18px;
    position: relative;
}
.about-right11{
    margin-bottom: 20px;
}
.about-right .about-right-qq img,.about-right .about-right-qq2 img{
    position: absolute;
    transition: top 0.2s;
}
.about-right .about-right-qq img{
    left:70px;
    top:51px;
}
.about-right .about-right-qq2 img{
    left:150px;
    top:51px;
}
.about-right .about-right-qq img:hover,.about-right .about-right-qq2 img:hover{
    top:45px;
}
.about-right p{
    text-align: center;
    line-height: 33px;
    color:#fff;
    font-size: 14px;
}
.about-right p .about-right1{
    font-size: 18px;
    font-weight: bold;
    margin-left: -20px;
}
.about-right p .about-right2{
    padding-left: 54px;
}
.content{
    width:1348px;
    height:340px;
    margin-top: 50px;
}
.content .content-left{
    width:250px;
    margin-left: 190px;
    border: 1px solid #DA251C;
    float:left
}
.content .content-left .content-left-header{
    height:60px;
    background: #DA251C;
    color:#fff;
    overflow: hidden;
}
.content .content-left .content-left-header img{
    border-bottom: 1px solid #fff;
    float: left;
    width: 290px;
}
.content .content-left .content-left-header span{
    display: block;
    float: left;
    margin-top: 12px;
    margin-left: 5px;
    font-size: 24px;
}
.content .content-left ul{
    width:240px;
    height:240px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 16px;
}
.content .content-left ul li{
    margin-top: 10px;
}
.content .content-left ul li a{
    color:#000;
    cursor: text;
}
/*.content .content-left ul li a:hover{*/
    /*font-weight: bold;*/
    /*color:#DA251C;*/
    /*cursor: pointer;*/
/*}*/
.success-active a{
    font-weight: bolder;
    color:#DA251C !important;
}
.content .content-line{
    width:10px;
    height:320px;
    float: left;
    margin-left: 155px;
    border-left: 2px dashed gray;
}
.content .content-right{
    width:600px;
    float:left;
    margin-left: 35px;
    margin-top: 5px;
}
.content .content-right .content-right-1{
    width:665px;
}
.content .content-right .content-right-img img{
    width:55px;
    height:55px;
    float:left;
}
.content .content-right .content-right-1 ul li{
    float:left;
    width:100px;
    height:44px;
    line-height:42px;
    font-size: 24px;
    margin-left: 20px;
    padding-left: 2px;
    vertical-align: middle;
}

.content-active,.content-right-1 ul li:hover{
    cursor: pointer;
    background: #DA251C;
    border-radius:5px;
    color:#fff;
}
.content .content-right .content-right-2{
    clear: both;
    margin-top: 100px;
    margin-left: 10px;
}
.content-li li{
    line-height:40px;
    width:420px;
    float:left;
    background: url("../images/content-link0.png") no-repeat right center;
}
.content-li li:hover{
    color: #DA251C;
    font-weight: bold;
    cursor: pointer;
    background-image: url("../images/content-link1.png");
}
.content-li{
    display: none;
}
.content-li-active{
    display: block !important;
}

.footer{
    height:100px;
    width:100%;
    margin-top: 60px;
    background: rgb(31,26,23);
    color:#fff;
}
.footer .footer-content{
    width:1336px;
    position: relative;
}
.footer .footer-link,.footer .footer-menu ul li{
    float:left;
    margin: 10px 0px;
}
.footer .footer-link select{
    margin-left: 20px;
    width:150px;
}
.footer .footer-menu a:hover{
    color:orange;
}
.footer .footer-menu{
    float:right;
}
.footer .footer-menu ul li{
    padding-left: 10px;
}
.footer .footer-menu ul li a{
    color:#fff;
    padding-right: 10px;
}
.footer .footer-bottom{
    clear:both;
    width:100%;
    padding-top: 20px;
}
.wechat{
    color:#fff;
}
.wechat img{
    width:75px;
    position: absolute;
    top:8px;
    left:280px;
}
.recode-number{
    float:right;
    padding-right: 10px;
    font-size: 14px;
}
