
#wap-hid{display: block;}
#wap-show{display: none;}

img{max-width: 100%; vertical-align: middle;}

.product{ width:950px;  margin-bottom: 50px;  }
.product ul{margin: 0 -1.5%;}
.product ul li{float: left;  margin-left:20px;list-style: none; position: relative;}

.product .product-details {  position: relative;  float: left;  width:155px;  height:155px;  margin-right: 44px;  margin-bottom: 60px;  background: #eee;  margin-left: 15px;  border-radius: 5px;overflow: hidden; text-align: center;}

.product-details-img{width:155px;height:155px;z-index: 19;}

.product-btn{display: inline-block; padding: 5px 10px; font-size: 14px; color: #fff; border: 2px solid #da251c; background-color: #da251c; text-decoration: none; transition: 0.4s;border-radius: 5px;}
.product-btn:hover{background-color: transparent; color: #da251c; transition: 0.4s;}
.text-desc{  position: absolute;  left: 0;  top: 0;  background-color: rgba(250,250,250,0.4);  height: 100%;  padding-top:65px;  width: 100%;
}
.product-details .text-desc{opacity: 0.9; top: -150%; transition: 0.25s; color: #000; padding-top: 65px;}
.product-details:hover .text-desc{top: 0;}
.product-details>a{  width:155px;height:155px;}
.product-name{ color:#000;  position: absolute;  top:5%;  left:10%;  width:120px;  height:140px;  font-size: 24px;  line-height: 140px;  overflow: hidden;  white-space:nowrap;  text-overflow: ellipsis;z-index:9999;}
.product-group{  position:absolute;  top:0;  left:-5px;  height:25px;  width:75px;  color:#fff;  border-radius: 5px;  z-index: 999;}

.clear{  clear:both;  }

.project{  width:960px;  margin-top: 50px;  overflow: hidden;  }
.project .project-nav{  width:204px;  float:left;  margin-top:10px;  }
.project .project-nav .project-header{  height:75px;  background:#da251c;  color:#fff;  border-radius: 5px;  overflow: hidden;  }
.project .project-nav .project-header div{  width: 250px;  height: 60px;  }
.project .project-nav .project-header span{  float:left;  margin:15px 0 0 25px;  color: #fff;  font-size: 32px;  line-height: 1.2;  font-weight: 700;  letter-spacing: 10px;  }
.project .project-nav ul{  width:204px;   font-size: 16px;  text-align: center;  color:rgb(102,102,102);  background: rgb(236,236,236);  border-radius: 5px;   _margin-left:0;  }
.project .project-nav ul li{  color:#000; }
.project .project-nav ul li a{text-align:center;display: block;width:182px;line-height:48px;}
.project .project-nav ul .project-li a,.product-li a{  color:#444;  }
/*鼠标移入时，背景红色，箭头图效果*/
.project-li-not-active,.product-li-not-active {  font-weight: bold;  cursor: pointer; background: url("../images/arrow2.png") no-repeat 90% 16px #da251c; }
/*进入页面时，鼠标移入无效果的效果*/
.project-li-active{  background: url("../images/arrow.png") no-repeat 85% 60% ;  }
.product-li-active{  background: url("../images/arrow33.png") no-repeat 90% 16px ;  }
.project-li-active a,.product-li-active a{  font-weight: 900;  font-size: larger;  color:#DA251C !important;  }
.product-li-active a:before{content:"";}
.product-li-active a:after{content:	"\27b2";}
.project-content,.case-content{  width:650px;  float:left;  margin-left: 98px;  overflow: hidden;  text-align: left;  margin-top:13px;  }
.project-content .project-content-top {  width:648px;  height:45px;  margin-bottom: 10px;  border-top:1px double #da251c;  border-radius: 5px;  text-align: left;  }
.project-content .project-content-top span{  display: block;  margin-left: 0;  height:42px;  width:80px;  _width:120px;  color:#fff;  background: #da251c;  letter-spacing: 5px;  border-radius: 5px;  font-size: 30px;  padding-left: 50px;  background: url(../images/article1.png) no-repeat left center #CC322A;  background-size: 40px;  }
.contact-content{  margin-top: 20px;  }
.project-content>div>img,.case-content>div>img{  width:650px;  height:130px;  margin-bottom: 20px;  }
.project-content ul{  clear:both;  border-bottom: 1px double #da251c;  }
.project-content ul li{  line-height: 35px;  padding-left: 30px;  background: url("../images/title.png") no-repeat left center;  }

/*产品详情页面*/

/*产品详情页*/
.product-content{text-align: left;}
.product-head{  width:650px;  height:210px;  overflow: hidden;   }
.product-head img{  width:200px;  height:200px;  float:left;  }

.product-head .pro-title{width:358px;height:50px;margin-left:250px;   padding-bottom: 30px;}

.pro-title1{  float:left;  font-size: 26px;  font-weight: bolder;   letter-spacing: 0; }

.pro-title2{float:right;margin-top:10px;margin-right:50px;font-size:18px;color:#444;font-weight: 100;letter-spacing: 1px; }

.product-head p{   float:left; width:180px;  display:inline-block; }

.pro-address{background: url(../images/address1.png) no-repeat left center;margin-top: 20px;}
#pro-price{ background: url(../images/price.png) no-repeat left center;margin-top: 20px;}

.pro-address,#pro-price{  margin-left: 50px; _margin-left: 50px; padding-left:30px;  line-height: 29px;  font-size: 16px; background-size: 20px;  }
.pro-button{  float:right;padding:5px;padding-left:10px;padding-bottom:8px;margin-top:32px;margin-right:100px;font-size: 16px; border-radius: 5px;color: #da251c;border:2px solid #da251c;background:transparent;transition: background,color 0.5s;letter-spacing: 5px;}

.pro-button:hover{color:#fff;border:2px solid transparent;background:#da251c;}

.product-middle{  border-top: 1px solid #000; margin-left: 260px;margin-top: 20px;  }

.product-middle span{background: #da251c;color:#fff;display: inline-block;padding:5px;border-top: 1px solid #fff;}


@media  (min-width:1200px){
    #contact{font-size:1rem;}
    .contact-span{float:left;}

}
@media (min-width:992px) and (max-width: 1199px) {
    #contact{font-size:1rem;}
    .contact-span{float:left;}

}
@media (min-width:768px) and (max-width:991px){
    #contact{font-size:1rem;}
    .contact-span{float:left;}


}

@media (min-width:620px) and (max-width:767px){
    #contact{;}
    .contact-span{float:left;line-height: 1.4rem;}
    .wechat .contact-span{line-height: 1rem;}

}
@media (max-width:619px){
    .sm-hidden{display: none;}
    #hidden{top:10%;}
    .contact-span{padding:9% 0 0 0;line-height: 1.5rem;font-size: 1.15rem;}
    .contact-img{float:left;width:40%;}
    /*.wechat{height:79%;padding:1% 0 0 1.2%;margin:0 1% 0 0;}*/
    .wechat img{width:100%;}
    #news .news-title span{font-size: 1.3rem;}
    #news .news-title .news-t{padding-bottom: 0.1rem;}
    /*#map .map-icon{  background-size: 2.5rem;padding-left: 43%;}*/
    #map .map-icon img{width:100%;}
    footer{font-size: 0.9rem;}
    footer .foot-bottom{font-size: 0.85rem;}
}