body{
    font-size: 1vw;
}

.panel{
    display: none;
}

.page-tab{
    display: none;
}

.panel-title{
    font-size: 1.25vw;
    font-weight: bolder;
}

.btn-block{
    margin:0 auto;
}

.version-btn{
    float:none;
}

.cur_out{
    color:#e84c3d;
    font-weight: bolder;
}

/*日期选择div*/
.datePicker{
    font-size: 1vw;
    vertical-align: middle;
    color:#e75d59;
}
.datePicker>span{
    width:100px;
    vertical-align: 50%;
}
.date{
    display: inline-table;
    width:150px;
}
.date-addon{
    margin-right: 0 !important;
}
.date-input[readonly] {
    cursor: pointer !important;
    background: #fff;
}

/*主页*/
.title-mes{
    /*display: inline-block;*/
    /*border:1px solid red;*/
    line-height:2.5vw;
    height:2.5vw;
    font-size: 1.25vw;
    vertical-align: middle;
    font-weight: bolder;
}

.today-call{
    height: 220px;
    overflow: auto;
}

.today-call li{
    font-size: 1.2vw;
    width:33.33%;
    height:4vw;
    line-height: 4vw;
    float:left;
    color:#888;
    background-color: #eee;
    /*border:1px solid red;*/
}

.ifNostudent{
    height: 220px;
    opacity: 0.8;
    font-size: 2.5vw;
    line-height: 220px;
}

.today-course{
    width:820px;
}

.today-course li{
    float:left;
    padding-left: 0;
    padding-right: 4vw;
    font-size: 1.35vw;
    position: relative;
    margin:1.5vw 0 0.5vw 0;
}

.li-time{
    font-size: 0.8vw;
}

.today-course li:after{
    content:'﹥';
    position: absolute;
    top:50%;
    left:65%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#0076a3;
    font-size: 2vw;
}

.today-course li:last-child:after{
    content:'';
}

.camera{
    margin-top: -100px;
}

.camera-img{
    position: relative;
    /*border:1px solid #aaa;*/
}

.camera .camera_target, .camera_bg{
    width:300px;
    height:165px;
}

.camera_bg:after{
    width:200px;
    height:200px;
    /*height:100%;*/
    content : '';
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url('../images/loading.gif') no-repeat center center;
    background-size: 70% 70%;
}

.camera_target{
    z-index:999;
    position: absolute;
    top:0;
    left:0;
}

.camera .btn-group{
    width:300px;
}

.camera img{
    border:1px solid #aaa;
}

.camera .btn{
    width:50%;
    margin-left: 0 !important;
}

.btn-camera-switch{
    border-top-left-radius: 0;
}

.btn-camera-shoot{
    border-top-right-radius: 0;
}

.today-course-title{
    clear:both;
    font-size: 1.5vw;
    font-weight: bolder;
    margin:1.5vw 0 1vw 0;
    text-align:left;
}

.today-course-cur{
    font-size: 5vw;
    color:#0076a3;
    font-weight: bolder;
}

.recall{
    color:#e84c3d !important;
    font-weight: bolder;
}

.recall .btn{
    color:#444;
}

.curCouseBody{
    position: relative;
}

.curCourse{
    position: relative;
}

.noShowCurCourse{
    width:100%;
    height:100%;
    position: absolute;
    background-color: #fff;
    opacity: 0.8;
    /*-webkit-filter: blur(100%); /!* Chrome, Opera *!/*/
    /*filter: blur(100%);*/
    z-index: 999;
    font-size: 1.2vw;
    vertical-align: middle;
}

.noShow{
    font-size: 5vw;
    line-height: 400%;
}

.next-course{
    color:#0076a3;
    font-size: 1.3vw;
    font-weight: bolder;
}

/*考勤历史*/

.course-table{

}
.course-table td a[toggle="tooltip"]{
    color:#0076a3 !important;
    cursor: pointer;
}
.count{
    font-size: 0.8vw;
    font-weight: bolder;
}
.noall{
    font-size: 0.8vw;
    font-weight: bolder;
    color:#e84c3d !important;
}

.his-modal .modal-dialog{
    width:1000px;
}

.his-modal th, .his-modal a, .his-modal td[data-key="date"]{
    white-space: nowrap;
}

.his-modal-div{
    height: 500px;
    overflow-y: scroll;
}

.his-modal-div thead th{
    text-align: center;
}

.tooltip-inner{
    display: block;
    text-align: left !important;
    line-height: 150%;
    white-space:nowrap;
    max-width: none !important;
}

.course-table{
    /*table-layout: fixed !important;*/
    /*background: #adadad !important;*/
}

/*数据配置*/
.people{
    display: inline-block;
    padding:6px 32px 6px 12px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 2vw;
    margin-bottom: 2vw;
    margin-top: 20px;
    background-color: #eee;
    /*color:#30BA78;*/
    color:#75491A;
}

.people:before{
    content:'';
    position: absolute;
    left:2px;
    top:-20px;
    width:20px;
    height:20px;
    background: url('../images/student.png') no-repeat center center;
    background-size: 20px 20px;
}

/*.people:after{*/
    /*content: '×';*/
    /*color:#aaa;*/
    /*font-size: 1.3vw;*/
    /*position: absolute;*/
    /*right:10%;*/
    /*top:45%;*/
    /*-webkit-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    /*transition: all 0.3s;*/
/*}*/

.people:hover{
    background-color: #e84c3d;
    color:#fff;
}

.people i{
    font-style:normal;
    color:#aaa;
    font-size: 1.15vw;
    position: absolute;
    right:10px;
    top:45%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.3s;
}

.people:hover i{
    color: #fff;
}

.rfid-mass{
    font-size: 2vw;
    line-height: 7vw;
    white-space: nowrap;
    text-align: center;
}
.modal-header{
    border-bottom: none !important;
}

.modal li{
    text-align: center;
}

.add-his-course{
    font-size: larger;
    color:#e84c3d;
    cursor: pointer;
}

.list-his-course{
    /*margin-left: 1vw;*/
    color:#0076a3;
}

#toast {
    z-index: 1041;
    position: fixed;
    left: 50%;
    top:12%;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1vw;
    font-weight: 700;
    border-radius: 8px;
    pointer-events: none;
    padding: 0.8em 1.25em 0.8em 1.5em;
    text-indent: 3vw;
    color: #228fbd;
    transition: all ease-in-out 0.15s;
    background: url("../images/message.png") no-repeat 1.25vw center #fff;
    background-size: 2vw;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5); }
.toast_show {
    top:20% !important;
    opacity: 1 !important; }
